<% content_for :main do %>
<div class="grid_12" id="main">
  <div class="grid_6 alpha">
    <h1>The Best Support in The Industry</h1>
      
    <h2><%= link_to "Submit a new ticket", "http://support.bigfolio.com/anonymous_requests/new", :class=>"splash_ticket" %></h2>
  </div>
  <div id="splash" class="grid_6 omega">
    <%= image_tag 'splash.jpg' %>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<% end %>
<h2>Our Support System Has Moved</h2>
<p>We recently launched a new support ticket system at <a href="http://support.bigfolio.com">support.bigfolio.com</a>. 
  You can still view and reply to existing tickets here for the next 30 days. </p>
<h2><a href="http://support.bigfolio.com">Visit support.bigfolio.com</a></h2>
