<h2>FAQs <% if current_user %><span><%= link_to 'new faq', new_faq_path %></span><% end %></h2>

<%= render :partial => 'help/faq', :collection => @faqs %>

<script type="text/javascript">
  $('a[rel*=facebox]').facebox({
    loading_image : 'loading.gif',
    close_image   : 'closelabel.gif'
  }) 
</script>