<h2><%=h @faq.title %> <span><%=h @faq.category.name %></span></h2>

<div class="faq_body">
<%=@faq.body %>
</div>
<div class="faq_more">
  <%= link_to "More #{@faq.category.name} help topics ...", @faq.category.help_url %>
</div>