body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #333;
	background: #ffffff;
}
div.clear {
	clear:both;
}

#header_container {
	margin-top:10px;
}

#main {
	border-bottom:1px solid #ccc;
	margin-bottom:50px;
}
#main h1, #main h2 {
	font-weight:normal;
}
#main h1 {
	margin:50px 0 20px 0;
}
#main h2 {
	color:#aaa;
	font-size:1.5em;
}
#main h2 a.splash_ticket {
	background: transparent url(../images/new.png) no-repeat center left;
	height:48px;
	padding-left:60px;
	display:block;
	line-height:48px;
	color:#999;
	text-decoration: none;
	font-size:1.5em;
}

div#left h1, div#left h2 {
	color:#333;
	font-size:1.5em;
	font-weight:bold;
	line-height:2em;
}
div#left h2 span {
	font-size:12px;
	margin-left:12px;
}
div#left h2 span a, div#left h2 span a:link, div#left h2 span a:visited {
	color:#999;
}
div#left h3 {
	color:#333;
	font-size:1.2em;
	font-weight:bold;
	line-height:2em;
}
div#left ul {
	margin:12px 0 0 6px;
	list-style-type: none;
}
div#left li {
	list-style-type: none;
	line-height:1.5em;
}

div#left fieldset {
	width:400px;
	background:#eee;
	padding: 12px 0 6px 12px;
	margin-bottom:24px;
}
div#left legend {
	color:#666;
	font-size:1.2em;
	font-weight:bold;
	padding:0 0 0 12px;
}
div#left label {
	font-weight:bold;
	color:#0066CC;
	line-height:1.5em;
}
div#left label.emergency {
	color:orange;
}
div#left .tip {
	color:#666;
	font-style: italic;
	text-align: justify;
	font-size:.8em;
	margin-right:12px;
}
div#facebox h2 {
	color:#0066CC;
	font-size:1.5em;
	font-weight:bold;
}
div#facebox h2 span {
	font-size:.8em;
	margin:0 0 12px 12px;
	color:#999;
}
div#facebox div.faq_body {
	margin:12px 0 0 0;
	text-align: justify;
}

div.ticket {
	background:#eee;
	border-bottom:1px solid #ccc;
	padding:0 0 0 6px;
}
div.ticket a, div.ticket a:link, div.ticket a:hover {
	text-decoration: none;
	color:#006666;
}
div.ticket h3 span, div.category h3 span, div.faq h3 span {
	color:#999;
	font-size:.8em;
	margin-left:12px;
}
div.urgent {
	background-image: url(../images/urgent.png);
	background-position: center right;
	background-repeat: no-repeat;
}
div.fresh {
	background-color:#dfd;
}
div.closed {
	background-color:#efe;
	color:#ddd;
	opacity: 0.5;
	-moz-opacity:0.5;
}
div.closed h3, div.closed h3 span, div.closed a:link, div.closed a:hover {
	color:#ddd;
}

div.ticket_body {
	background:#eed;
	border-left:1px solid #998;
	width:100%;
	padding:6px;
}
div.ticket_body p.timestamp, div.message p.timestamp {
	color:#998;
	font-style: italic;
}
div.staff_message {
	background:#ede;
	border-left:1px solid #998;
	width:100%;
	padding:6px;
	margin-bottom: 12px;
	overflow:auto;
}
div.customer_message {
	background:#eed;
	border-left:1px solid #998;
	width:85%;
	padding:6px;
	margin-bottom: 12px;
}
div.attachment a {
	display:block;
	height:48px;
	line-height:48px;
	padding-left:60px;
	font-size:1.5em;
	background: transparent url(../images/package.png) no-repeat center left;
}
div.attachment a:hover {
	background-color:yellow;
}

div.avatar {
	width:75px;
	height:75px;
	overflow:hidden;
	background:#fff;
	border:1px solid #999;
	float:right;
}


div#left ul.ticket_info {
	margin:0;
	color:#999;
}
div#left ul.ticket_info li {
	list-style-type: none;
	display:inline;
	margin:0 12px 0 0;
}
div#left ul.ticket_info li a {
	color:#0066CC;
}
ul#big, ul#big li {
	list-style-type: none;
}
ul#big a, ul#big a:link, ul#big a:visited {
	text-decoration: none;
	color:#333;
	display:block;
	line-height: 48px;
	height:48px;
	font-size:1.6em;
	font-weight:normal;
	padding-left:60px;
	margin:0 0 12px 0;
}
ul#big a:hover {
	color:#ccc;
}
a.big_ticket {
	background: transparent url(../images/new.png) no-repeat top left;
}
a.big_find {
	background: transparent url(../images/search.png) no-repeat top left;
}
a.big_faqs {
	background: transparent url(../images/faqs.png) no-repeat top left;
}

div#find_form {
	display:none;
	line-height:48px;
	padding-left:60px;
}
div#find_form input {
	font-size:1.5em;
	font-weight:bold;
	color:#999;
}
a.big_contact {
	background: transparent url(../images/email.png) no-repeat top left;
}
a.big_all {
	background: transparent url(../images/tickets.png) no-repeat top left;
}
a.big_search {
	background: transparent url(../images/search_all.png) no-repeat top left;
}
span#search_form {
	display:none;
	line-height:24px;
	padding-left:60px;
}
span#search_form label {
	font-size:1.2em;
	display:block;
	margin-top:6px;
	color:#999;
}
span#search_form p {
	margin-top:6px;
}
a.big_fresh {
	background: transparent url(../images/fresh.png) no-repeat top left;
}
a.big_active {
	background: transparent url(../images/write.png) no-repeat top left;
}


div.pagination {
	margin:12px 0 0 0;
	color:#999;
}


div#footer {
	text-align:center;
}
/************************************************/
/* Errors
/************************************************/
#errorExplanation {
	background:yellow;
	border:3px solid orange;
	padding:10px;
	margin-bottom:20px;
}
div#left div.fieldWithErrors label {
	font-weight:bold;
	color:red;
}
div#left div.fieldWithErrors input {
	border:3px solid red;
}

/************************************************/
/* Email alerts
/************************************************/
#notify {
	background:#FFFF88;
	border:3px solid #C79810;
	padding:0 10px;
	font-size:120%;
}
#notify h2, #notify h3 {
	text-align: center;
}
#notify strong { 
	font-weight: bold;
	color:#B02B2C;
}








