<h2>All tickets <span><%= link_to 'view fresh tickets', fresh_tickets_url %></span>
                <span><%= link_to 'view active tickets', active_tickets_url %></span></h2>

<div id="tickets">
<%= render :partial => @tickets %>
</div>

<%= will_paginate @tickets %>
